.product-container {
    padding: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: black 0 2px 4px -1px;
}

.product-detail-name {
    font-family: "Nunito", sans-serif;
    font-size: 2em;
    font-weight: bold;
    word-wrap: normal;
}

.product-detail-price {
    color: #49d0eb;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
}
